{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            
            <form action="/tasks/create/" method="POST" class="card card-body">
                <h1>Crear tarea</h1>
                
                {% csrf_token %}
                {{form.as_p}}

                
                <div type="submit" class="d-flex gap-2">
                    
                    <button class="btn btn-primary flex-fill"> 
                        Guardar
                    </button>
    
                    <button type="button" class="btn btn-danger flex-fill" onclick="history.back()">
                        Cancelar
                    </button>
                </div>

            </form>


        </div>
    </div>

</main>
{% endblock %}