{% extends 'base.html' %}

{% block content %}


<main class="container" py-5>
    <section class="card card-body mt-4">
        <h1 class="display-1 text-center">Home</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ab. Quos error a soluta magnam tempora rerum deleniti delectus iste animi blanditiis. Officia vel soluta tempore! Deserunt, tenetur quisquam numquam, facere voluptas asperiores minima eum eaque quidem pariatur beatae provident ratione qui? Deserunt dolore accusamus cupiditate enim soluta, quae voluptas eos incidunt dolores repudiandae quos voluptate illum quibusdam harum beatae.
        </p>


        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>

            <a class="btn btn-secondary" href="/signup">
                Signup
            </a>
        </div>

         
    </section>
</main>

{% endblock %}