{% extends 'base.html' %}

{% block content %}


<h1>Home</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ab. Quos error a soluta magnam tempora rerum deleniti delectus iste animi blanditiis. Officia vel soluta tempore! Deserunt, tenetur quisquam numquam, facere voluptas asperiores minima eum eaque quidem pariatur beatae provident ratione qui? Deserunt dolore accusamus cupiditate enim soluta, quae voluptas eos incidunt dolores repudiandae quos voluptate illum quibusdam harum beatae.

{% endblock %}