{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{task.title}}</h1>
                {{error}}

                <form method="POST">
                    
                    {% csrf_token %}

                    {{form.as_p}}
                    <button class="btn btn-primary w-100">
                        Actualizar
                    </button>

                </form>

                <div class="mt-3 d-flex gap-2">
                    <form action="{% url 'complete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success flex-fill">
                            Tarea completa
                        </button>
                    </form>
    
                    <form action="{% url 'delete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger flex-fill">
                            Eliminar tarea
                        </button>
                    </form>

                    <button type="submit" class="btn btn-outline-danger flex-fill" onclick="history.back()">
                            Cancelar
                    </button>
                    
                </div>
        </div>
    </div>

</main>
{% endblock %}