{% extends 'base.html'%}

{% block content %}
<h1>Tasks</h1>

<ul>
    {% for task in tasks %}
        <a href="{% url 'task_detail' task.id %}">
            <li>
                <strong>
                    {{task.title}}
                </strong>

                {% if task.important%}

                <p> Importante</p>

                {% endif %}

                <p>
                    {{task.description}}
                </p>
                <p>
                    {{task.user.username}}
                </p>
                <p>
                    {{task.important}}
                </p>
            </li>
        </a>
    {% endfor %}
</ul>


{% endblock %}